@media screen and (min-width: 1024px) {
  header {
    font-size: 1.2vw;
    background-image: url(../images/photo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 10% 5% 10%;
    display: grid;
    grid-template-areas:
      "logo header-nav"
      "h1 contacts"
      "excursions excursions";
    grid-template-rows: 1fr 1.5fr 1fr;
  }
  h1 {
    width: 50vw;
  }
  .contacts img {
    width: 80%;
  }
  .excursions {
    width: 16%;
    height: 50px;
  }
  .excursiontypes {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 3%;
    font-size: 1.3vw;
  }
  .excursiontypes img {
    width: 40%;
    height: 40%;
    margin-right: 10px;
  }
  article {
    width: 80%;
  }
  .excursiontypescontainer {
    margin: 5%;
  }
  .aboutus {
    display: grid;
    grid-template-columns: 3fr 2fr;
    font-size: 1.3vw;
  }
  .photogallery {
    margin: 5px;
    display: grid;
    gap: 5px;
    grid-template-areas:
      "gallery1 gallery1 gallery2 gallery3 gallery4"
      "gallery1 gallery1 gallery2 gallery3 gallery4"
      "gallery5 gallery6 gallery2 gallery7 gallery7"
      "gallery5 gallery8 gallery2 gallery7 gallery7";
  }
  footer nav {
    width: 60%;
  }
  footer nav a {
    font-size: 1.3vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    font-size: 2vw;
    background-image: url(../images/photo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 10% 5% 10%;
    display: grid;
    grid-template-areas:
      "logo header-nav"
      "h1 h1"
      "contacts contacts"
      "excursions excursions";
  }
  .contacts img {
    width: 100%;
  }
  .excursions {
    width: 26%;
    height: 50px;
  }
  .excursiontypes {
    font-size: 1.8vw;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 3%;
  }
  .excursiontypes img {
    height: 40%;
    margin-right: 10px;
  }
  h2 {
    font-size: 3vw;
  }
  .excursiontypescontainer {
    margin: 3%;
  }
  .aboutus {
    display: grid;
    grid-template-columns: 3fr 2fr;
    font-size: 1.8vw;
  }
  .photogallery {
    margin: 5px;
    display: grid;
    gap: 5px;
    grid-template-areas:
      "gallery1 gallery1 gallery2"
      "gallery1 gallery1 gallery2"
      "gallery5 gallery6 gallery2"
      "gallery5 gallery8 gallery2"
      "gallery7 gallery7 gallery4";
  }
  .gallery3 {
    display: none;
  }
  .footer nav a {
    font-size: 1.2vw;
  }
  footer nav {
    width: 70%;
  }
  .h2gallery {
    margin-left: 3%;
  }
}

@media screen and (max-width: 767px) {
  header {
    font-size: 2vw;
    background-image: url(../images/photo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 10% 5% 10%;
    display: grid;
    grid-template-areas:
      "logo header-nav"
      "h1 h1"
      "contacts contacts"
      "excursions excursions";
  }
  h1 {
    width: 100%;
  }
  .contacts img {
    width: 60%;
  }
  .excursions {
    width: 36%;
    height: 40px;
  }
  .excursiontypes {
    font-size: 2vw;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 3%;
  }
  .excursiontypes img {
    height: 40%;
    margin-right: 10px;
  }
  h2 {
    font-size: 3vw;
  }
  .excursiontypescontainer {
    margin: 5%;
  }
  .aboutus {
    display: grid;
    grid-template-rows: 1fr auto-fit;
    font-size: 2vw;
  }
  .photogallery {
    margin: 5px;
    display: grid;
    gap: 5px;
    grid-template-areas:
      "gallery1 gallery1 gallery2"
      "gallery1 gallery1 gallery2"
      "gallery5 gallery6 gallery2"
      "gallery5 gallery8 gallery2"
      "gallery7 gallery7 gallery4";
  }
  .gallery3 {
    display: none;
  }
  footer nav a {
    font-size: 2vw;
  }
  footer nav {
    width: 70%;
  }
  .h2gallery {
    margin-left: 5%;
  }
}

nav a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: #ffc700;
  text-decoration: underline;
}
body {
  font-family: "Montserrat", sans-serif;
}
.logo {
  grid-area: logo;
}
header nav {
  display: flex;
  justify-content: space-around;
  grid-area: header-nav;
}
h1 {
  grid-area: h1;
}
h1 img {
  width: 100%;
}
header .contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  grid-area: contacts;
}

.excursions {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: excursions;
  text-decoration: none;
  color: white;
  background: linear-gradient(92.71deg, #0499dd 0%, #17c1bc 100%);
  border-radius: 60px;
}

.excursiontypes div {
  display: flex;
}

.mountainlake {
  width: 100%;
  height: 100%;
}
.aboutustext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 5% 0 5%;
}
.gallery1 {
  grid-area: gallery1;
}
.gallery2 {
  grid-area: gallery2;
}
.gallery3 {
  grid-area: gallery3;
}
.gallery4 {
  grid-area: gallery4;
}
.gallery5 {
  grid-area: gallery5;
}
.gallery6 {
  grid-area: gallery6;
}
.gallery7 {
  grid-area: gallery7;
}
.gallery8 {
  grid-area: gallery8;
}

.gallery {
  margin-top: 5%;
}
.photogallery img {
  width: 100%;
  height: 100%;
}
footer nav a {
  color: #282828;
}
footer img {
  width: 5%;
}
footer {
  margin: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer nav {
  display: flex;
  justify-content: space-between;
}
h2,
h3 {
  color: #0499dd;
  font-weight: 700;
}
